.rules-screen {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/base/desktop-rules background.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rules-container {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  padding: 0 7rem;
  line-height: 1.5;
}

.rules-container h1 {
  font-size: clamp(2rem, 3.5vw, 3rem);
}

.rules-container h2 {
  font-size: clamp(1.5rem, 2.6vw, 2.25rem);
}

.rules-container h3 {
  font-size: clamp(1.2rem, 1.6vw, 1.75rem);
}



.rules-text {
  text-align: left;
}

.rules-button {
  align-self: center;
  cursor: pointer;      
  transition: transform 0.2s ease;
  width: 10rem;
}

.yellow {
  color: #fcdc04;
}

.rules-button:hover {
  transform: scale(1.05);
}

@media (max-width: 968px) {
  .rules-container {
    padding: 0 2rem;
  }

  .rules-screen {
    background-image: url("../../assets/base/mobile-rules background.png");
  }

  .rules-button{
    width: 10rem;
  }

}

@media (max-width: 389px) {
  .rules-container h1 {
    font-size: clamp(2rem, 2.6vw, 3rem);
  }

  .rules-container h2 {
    font-size: clamp(1.4rem, 2vw, 2.25rem);
  }

  .rules-container h3 {
    font-size: clamp(1.1rem, 1vw, 1.75rem);
  }
}